.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17181a;
    height: 650px;
}

.Letseat-label {
    position: absolute;
    left: 170px;
    top: 8px;
    font-size: 80px;
    color: white;
}

.Description-text {
    position: absolute;
    left: 170px;
    top: 90px;
    color: white;
    font-size: 26px;
}

.Btn-finder {
    position: absolute;
    top: 130px;
    left: 60px;
    border-radius: 18px;
    width: 530px;
    height: 75px;
    background-color:#242424;
    color: white;
    font-size: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.Person {
    position: absolute;
    left: 50px;
    width: 120px;
    height: 120px;
}

.Center-Container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    overflow: hidden;
}