# Логи и временные файлы
*.log
*.out
*.exe
*.swp

# Go бинарники (если компилируешь рядом с исходниками)
backend/**/auth-service
backend/**/main-service

# Общие каталоги сборки
bin/
build/

# Node.js
node_modules/
dist/

# IDE и системные файлы
.DS_Store
.idea/
.vscode/

.env
.Makefile
