.register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0c0d;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    z-index: 200;
}

.register-container input {
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#register-button {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
}

#register-button:hover {
    background-color: #45a049;
}

.close-btn {
    position: absolute;
    top: -5px;
    right: 15px;
    font-size: 44px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

#toggle-text {
    margin-top: 10px;
    text-align: center;
}

#toggle-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#toggle-text a:hover {
    color: #4CAF50;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.register-container input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
    outline: none;
}

.BackToSing {
    cursor: pointer;
}